%h4 Calculation Results
%table.table.table-bordered
  %tr
    %tr
      %td{ :title => 'Sum of energy generated for the selected sample.' }
        Total Energy Generated (MWh)
      %td= @calculation.total_mw_generated
    %tr
      %td{ :title => 'Dollar value of energy generated calculated using locational marginal price.' } 
        Locational Marginal Price of Energy Generated
      %td= number_to_currency( @calculation.total_kw_generated_price, :precision => 0 )
    %tr
      %td{ :title => 'Energy required to heat the homes in the sample.' } 
        Energy Required for Heating (MWh)
      %td= @calculation.total_mw_required_for_heating
    %tr
      %td{ :title => 'Dollar value of the energy required for home heating calculated using locational marginal price.' }
        Locational Marginal Price of Energy Required for Heating  
      %td= number_to_currency( @calculation.total_kw_required_for_heating_price, :precision => 0 )
    %tr
      %td{ :title => 'Sum of energy when the heating load is in excess of what is available from wind generation in the sample' }
        Load Unserved (MWh)
      %td= @calculation.total_mw_load_unserved
    %tr 
      %td{ :title => 'Dollar value of load unserved calculated using location marginal price' }
        Locational Marginal Price of Load Unserved
      %td= number_to_currency( @calculation.total_kw_load_unserved_price, :precision => 0 ) 
    %tr
      %td{ :title => 'Load unserved using Link and Sinc thermal storage' }
        Load Unserved with Link and Sync (MWh) 
      %td= @calculation.total_mw_load_unserved_ls
    %tr 
      %td{ :title => 'Dollar value of load unserved calculated using location marginal price' }
        Locational Marginal Price Load Unserved with Link Sync
      %td= number_to_currency( @calculation.total_kw_load_unserved_ls_price, :precision => 0 )
    %tr
      %td{ :title => 'Sum of off peak energy that is in excess of demand' }
        Excess Off Peak (MWh) 
      %td= @calculation.total_mw_excess_off_peak_capacity
    %tr 
      %td{ :title => 'Dollar value of excess off peak energy calculated using locational marginal price' }
        Locational Marginal Price of Excess Off Peak
      %td= number_to_currency( @calculation.total_kw_excess_off_peak_capacity_price, :precision =>0 ) 
#charts{ :data_set_id => @dataset_id, :home_profile_id => @home_profile_id }
- @thermal_storage_profile_ids.each do |id|
  .thermal-storage-id{ :value => id }
- @months.each do |m|  
  .chart-month{ :month => m.month, :year => m.year }
  .row-fluid
    %div{ :id => "#{m.year}.#{m.month}.1", :style => 'height:250px;', :class => 'span4' }
      Generation
    %div{ :id => "#{m.year}.#{m.month}.2", :style => 'height:250px;', :class => 'span4' } 
      Demand
    %div{ :id => "#{m.year}.#{m.month}.3", :style => 'height:250px;', :class => 'span2' }
      Heating
    %div{ :id => "#{m.year}.#{m.month}.4", :style => 'height:250px;', :class => 'span2' }
      Load Unserved
