%h4 Calculation Results
.row-fluid
  .span6
    %strong
      Description
  .span3
    %strong
      MWh
  .span3
    %strong
      LMP
.row-fluid
  .span6
    Energy Generated
  .span3= @calculation.total_mw_generated  
  .span3= number_to_currency( @calculation.total_kw_generated_price, precision: 0  )
.row-fluid
  .span12
    Energy Required for Heating
%small
  - @calculation.interruptable_profiles.each do |ip|
    .row-fluid
      .span5.offset1= ip[:profile].name        
      .span3= kwh2mwh( ip[:energy_needed] )        
      .span3= number_to_currency( ip[:energy_needed_lmp], precision: 0 )
.row-fluid
  .span6
    %strong
      Total
  .span3= @calculation.total_mw_required_for_heating
  .span3= number_to_currency( @calculation.total_kw_required_for_heating_price, precision: 0 )
 
#charts{ :data_set_id => @dataset_id, :home_profile_id => @home_profile_id }
- @thermal_profiles.each do |ts|
  .thermal-storage-id{ :value => ts.id }
- @months.each do |m|  
  .chart-month{ :month => m.month, :year => m.year }
  .row-fluid
    %div{ :id => "#{m.year}.#{m.month}.1", :style => 'height:250px;', :class => 'span4' }
      Generation
    %div{ :id => "#{m.year}.#{m.month}.2", :style => 'height:250px;', :class => 'span4' } 
      Demand
    %div{ :id => "#{m.year}.#{m.month}.4", :style => 'height:250px;', :class => 'span4' }
      Load Unserved
