%h4 Calculation Results
%table.table.table-bordered
  %tr
    %tr
      %td
        Total KW Generated
      %td= @calculation.total_kw_generated
    %tr
      %td
        Total KW Required for Heating
      %td= @calculation.total_kw_required_for_heating
    %tr
      %td
        Total KW Required for Heating LS
      %td= @calculation.total_kw_required_for_heating_ls
    %tr
      %td
        Total KW Load Unserved
      %td= @calculation.total_kw_load_unserved
    %tr
      %td
        Total KW Load Unserved LS
      %td= @calculation.total_kw_load_unserved_ls
    %tr
      %td
        Total KW Excess Off Peak 
      %td= @calculation.total_kw_excess_off_peak_capacity
#charts{ :data_set_id => @dataset_id, :home_profile_id => @home_profile_id }
- @thermal_storage_profile_ids.each do |id|
  .thermal-storage-id{ :value => id }
- @months.each do |m|  
  .chart-month{ :month => m.month, :year => m.year }
  .row-fluid
    %div{ :id => "#{m.year}.#{m.month}.1", :style => 'height:250px;', :class => 'span3' }
      Generation
    %div{ :id => "#{m.year}.#{m.month}.2", :style => 'height:250px;', :class => 'span3' } 
      Demand
    #march-chart.span3
      Mar
