%h4 Calculation Results
%table.table.table-bordered
  %tr
    %tr
      %td
        Total Energy Generated (MWh)
      %td= @calculation.total_mw_generated
    %tr
      %td 
        LMP Total Energy Generated
      %td= number_to_currency( @calculation.total_kw_generated_price, :precision => 0 )
    %tr
      %td
        Energy Required for Heating (MWh)
      %td= @calculation.total_mw_required_for_heating
    %tr
      %td
        LMP Energy Required for Heating  
      %td= number_to_currency( @calculation.total_kw_required_for_heating_price, :precision => 0 )
    %tr
      %td
        Energy Required for Heating LS (MWh)
      %td= @calculation.total_mw_required_for_heating_ls
    %tr
      %td 
        LMP Energy Required for Heating LS
      %td= number_to_currency( @calculation.total_kw_required_for_heating_ls_price, :precision => 0 )        
    %tr
      %td
        Load Unserved (MWh)
      %td= @calculation.total_mw_load_unserved
    %tr 
      %td
        LMP Load Unserved
      %td= number_to_currency( @calculation.total_kw_load_unserved_price, :precision => 0 ) 
    %tr
      %td
        Load Unserved LS (MWh) 
      %td= @calculation.total_mw_load_unserved_ls
    %tr 
      %td
        LMP Load Unserved LS
      %td= number_to_currency( @calculation.total_kw_load_unserved_ls_price, :precision => 0 )
    %tr
      %td
        Excess Off Peak (MWh) 
      %td= @calculation.total_mw_excess_off_peak_capacity
    %tr 
      %td 
        LMP Excess Off Peak
      %td= number_to_currency( @calculation.total_kw_excess_off_peak_capacity_price, :precision =>0 ) 
#charts{ :data_set_id => @dataset_id, :home_profile_id => @home_profile_id }
- @thermal_storage_profile_ids.each do |id|
  .thermal-storage-id{ :value => id }
- @months.each do |m|  
  .chart-month{ :month => m.month, :year => m.year }
  .row-fluid
    %div{ :id => "#{m.year}.#{m.month}.1", :style => 'height:250px;', :class => 'span3' }
      Generation
    %div{ :id => "#{m.year}.#{m.month}.2", :style => 'height:250px;', :class => 'span3' } 
      Demand
    %div{ :id => "#{m.year}.#{m.month}.3", :style => 'height:250px;', :class => 'span3' }
      Load Unserved and Excess Generation
