= hidden_field_tag 'name', @scenario.name
= hidden_field_tag 'set', @dataset_id
= hidden_field_tag 'thermal_storage_profile', @thermal_storage_profile_ids
= hidden_field_tag 'home_profile', @home_profile_ids

%h2= @scenario.name
%h4 Calculation Results
.row-fluid
  .span6
    %strong
      Description
  .span3
    %strong
      MWh
  .span3
    %strong
      LMP
.row-fluid
  .span6
    Energy Generated
  .span3= @calculation.total_mw_generated  
  .span3= number_to_currency( @calculation.total_kw_generated_price, precision: 0  )
.row-fluid
  .span6
    Generated Energy Sunk
  .span3= @calculation.total_mw_sunk    
  .span3= number_to_currency( @calculation.total_kw_generated_price - @calculation.total_surplus_price, precision: 0 )
.row-fluid
  .span6
    Percent Generated Energy Sunk
  .span3= @calculation.pct_sunk
  .span3= '-'
.row-fluid
  .span6
    Generated Energy Sunk with Link and Sync
  .span3= @calculation.total_mw_sunk_ls
  .span3= number_to_currency( @calculation.total_kw_generated_price - @calculation.total_surplus_price_ls, precision: 0 )
.row-fluid
  .span6
    Percent Generated Energy Sunk with Link and Sync
  .span3= @calculation.pct_sunk_ls
  .span3= '-'    
.row-fluid.label
  .span12
    Energy Required for Heating
%small
  - @calculation.interruptable_profiles.each do |ip|
    .row-fluid
      .span5.offset1= ip[:profile].name        
      .span3= kwh2mwh( ip[:energy_needed] )        
      .span3= number_to_currency( ip[:energy_needed_lmp], precision: 0 )
.row-fluid
  .span6
    %strong
      Total
  .span3= @calculation.total_mw_required_for_heating
  .span3= number_to_currency( @calculation.total_kw_required_for_heating_price, precision: 0 )
.row-fluid.label
  .span12
    Load Unserved
%small
  - @calculation.interruptable_profiles.each do |ip| 
    .row-fluid
      .span5.offset1= ip[:profile].name
      .span3= kwh2mwh( ip[:load_unserved] )
      .span3= number_to_currency( ip[:price_load_unserved], precision: 0 )
.row-fluid
  .span6
    %strong
      Total
  .span3= kwh2mwh( @calculation.interruptable_model.total_load_unserved )
  .span3= number_to_currency( @calculation.interruptable_model.price_total_load_unserved, precision: 0 ) 

.row-fluid.label
  .span12
    Load Unserved with Link and Sync
%small
  - @calculation.interruptable_profiles.each do |ip| 
    .row-fluid
      .span5.offset1= ip[:profile].name
      .span3= kwh2mwh( ip[:load_unserved_ls] )
      .span3= number_to_currency( ip[:price_load_unserved_ls], precision: 0  )
.row-fluid
  .span6
    %strong
      Total
  .span3= kwh2mwh( @calculation.interruptable_model.total_load_unserved_ls )
  .span3= number_to_currency( @calculation.interruptable_model.total_load_unserved_ls_price, precision: 0 ) 
.row-fluid.label
  .span12
    Thermal Storage On Peak Sunk
%small
  - @calculation.interruptable_model.thermal_storage_model.thermal_storages.each do |ts|
    .row-fluid
      .span5.offset1= ts[:profile].name
      .span3= kwh2mwh( ts[:sunk_on_peak] ) 
      .span3= '-'
.row-fluid
  .span6
    %strong
      Total
  .span3= kwh2mwh( @calculation.interruptable_model.thermal_storage_model.total_on_peak_sunk )
  .span3= '-'
.row-fluid.label
  .span12
    Thermal Storage Off Peak Sunk
%small
  - @calculation.interruptable_model.thermal_storage_model.thermal_storages.each do |ts|
    .row-fluid
      .span5.offset1= ts[:profile].name
      .span3= kwh2mwh( ts[:sunk_off_peak] ) 
      .span3= '-'
.row-fluid
  .span6
    %strong
      Total
  .span3= kwh2mwh( @calculation.interruptable_model.thermal_storage_model.total_off_peak_sunk )
  .span3= '-'
.row-fluid.label
  .span12
    Thermal Storage On Peak Sunk with Link and Sync
%small
  - @calculation.interruptable_model.thermal_storage_model.thermal_storages.each do |ts|
    .row-fluid
      .span5.offset1= ts[:profile].name
      .span3= kwh2mwh( ts[:sunk_on_peak_ls] ) 
      .span3= '-'
.row-fluid
  .span6
    %strong
      Total
  .span3= kwh2mwh( @calculation.interruptable_model.thermal_storage_model.total_on_peak_sunk_ls )
  .span3= '-'
.row-fluid.label
  .span12
    Thermal Storage Off Peak Sunk with Link and Sync
%small
  - @calculation.interruptable_model.thermal_storage_model.thermal_storages.each do |ts|
    .row-fluid
      .span5.offset1= ts[:profile].name
      .span3= kwh2mwh( ts[:sunk_off_peak_ls] ) 
      .span3= '-'
.row-fluid
  .span6
    %strong
      Total
  .span3= kwh2mwh( @calculation.interruptable_model.thermal_storage_model.total_off_peak_sunk_ls )
  .span3= '-'

.row-fluid.label
  .span12
    Off Peak Supplement 
%small
  - @calculation.interruptable_model.thermal_storage_model.thermal_storages.each do |ts|
    .row-fluid
      .span5.offset1= ts[:profile].name
      .span3=  kwh2mwh( ts[:off_peak_supplement] )
      .span3=  number_to_currency(ts[:price_off_peak_supplement], precision: 0 )
.row-fluid
  .span6
    %strong
      Total
  .span3= kwh2mwh( @calculation.interruptable_model.thermal_storage_model.total_off_peak_supplement )
  .span3= number_to_currency(@calculation.interruptable_model.thermal_storage_model.price_total_off_peak_supplement, precision: 0 )

.row-fluid.label
  .span12
    Off Peak Supplement with Link and Sync
%small
  - @calculation.interruptable_model.thermal_storage_model.thermal_storages.each do |ts|
    .row-fluid
      .span5.offset1= ts[:profile].name
      .span3=  kwh2mwh( ts[:off_peak_supplement_ls] )
      .span3=  number_to_currency(ts[:price_off_peak_supplement_ls], precision: 0 )
.row-fluid
  .span6
    %strong
      Total
  .span3= kwh2mwh( @calculation.interruptable_model.thermal_storage_model.total_off_peak_supplement_ls )
  .span3= number_to_currency(@calculation.interruptable_model.thermal_storage_model.price_total_off_peak_supplement_ls, precision: 0 )

#charts{ :data_set_id => @dataset_id, :home_profile_id => @home_profile_id }
- @thermal_profiles.each do |ts|
  .thermal-storage-id{ :value => ts.id }
- @home_profiles.each do |hp|
  .home-profile-id{ :value => hp.id }
- @months.each do |m|  
  .chart-month{ :month => m.month, :year => m.year }
  .row-fluid
    %div{ :id => "#{m.year}.#{m.month}.1", :style => 'height:250px;', :class => 'span4' }
      Generation
    %div{ :id => "#{m.year}.#{m.month}.2", :style => 'height:250px;', :class => 'span4' } 
      Demand
    %div{ :id => "#{m.year}.#{m.month}.4", :style => 'height:250px;', :class => 'span4' }
      Load Unserved
