%h4 
  New Link And Sync Scenario
%dl
  %dd 
    Select a sample, one or more interruptable profiles and one or more thermal storage profiles that will be used in the scenario. 


= form_tag( calculations_path, :method => :post,  :html => {:class => 'form-horizontal'} )  do
  .control_group
    .control_label
      Scenario Name
    .controls
      = text_field_tag 'name'
  .control_group
    .control_label
      Sample Name:
    .controls
      = select_tag 'set', options_from_collection_for_select( @set_metas, "id", "name" ) 
  .control_group
    .control_label
      Interruptable Profile(s):
    .controls
      = select_tag 'home_profile', options_from_collection_for_select( @home_profiles, "id", "name" ), multiple: true  
  .control_group
    .control_label
      Thermal Storage Profile(s):
    .controls
      = select_tag 'thermal_storage_profile', options_from_collection_for_select( @thermal_profiles, "id", "name" ), multiple: true 

  .control_group
    .controls
      = button_tag 'Calculate',  :class => 'btn btn-primary'
