.container-fluid
  .row-fluid
    .span3
      .well.sidebar-name
        %ul.nav.nav-list
          %li.nav-header Data Management
          - if user_signed_in?
            %li.active 
              = link_to( 'Upload Temperature and Generation Samples', new_set_meta_path)
            %li
              = link_to( 'View Interruptable Profiles', home_profiles_path )
            %li
              = link_to( 'View Thermal Storage Profiles', thermal_storage_profiles_path )
            %li 
              = link_to( 'View Samples', set_metas_path )
            %li
              = link_to( 'View Scenarios', calculations_path )
            %li
              = link_to( 'Create Interruptable Profile', new_home_profile_path )
            %li
              = link_to( 'Create Thermal Storage Profile', new_thermal_storage_profile_path )
            %li
              = link_to( 'Manage Holidays', holidays_path )

          %li.nav-header Calculations 
          %li
            = link_to( 'Link And Sync Scenario Generator', new_calculation_path )
          %li.nav-header Help
          %li
            = link_to( 'Link And Sync Overview', 'https://docs.google.com/document/d/1GmNUvOQhId0vlEjPrOtt062dfdp18EkpU659Fegr6zg/pub', :target => '_blank' )       
    .span9
      = image_tag( 'windimage.jpg' )
 
