.container-fluid
  .row-fluid
    .span3
      .well.sidebar-name
        %ul.nav.nav-list
          %li.nav-header Data Management
          %li.active 
            = link_to( 'Upload Temperature and Generation Samples', new_set_meta_path)
          %li
            = link_to( 'View Thermal Storage Profiles', thermal_storage_profiles_path )
          %li 
            = link_to( 'View Samples', set_metas_path )
          %li
            = link_to( 'Create Thermal Storage Profile', new_thermal_storage_profile_path )
          %li
            = link_to( 'Calculate', new_calculation_path)
       
    .span9
      .hero-unit
        %h1 Link And Sync
 
